page-login {

}

$white-color: #fff;
$height100: 100%;

.ucp-bg-color {
  background-color: midnightblue;
}

ion-grid {
  width: 100%;
  height: 90%;
  display: block;
  margin-top: 30px;
  vertical-align: middle;
}

ion-row {
  height: $height100;
}

ion-col {
  border: 1px solid #488aff;
  background: $white-color;
}

ion-button {
  font-weight: 300;
}

@media (min-width: 240px) and (max-width: 768px) {
  ion-grid {
    background: $white-color;
  }
  ion-col {
    border: none;
  }
}
