<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content class="ucp-bg-color" padding>

  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center col-12>

        <div text-center>
          <img src="/assets/imgs/logo_ucp2.png" width="100px"/>
          <h4>Autenticação</h4>
        </div>

        <div padding>
          <ion-item>
            <ion-label floating>Sede</ion-label>
            <ion-select [(ngModel)]="formData.filial">
              <ion-option value="2">Pedro Juan Caballero</ion-option>
              <ion-option value="1">Ciudad del Este Sede II</ion-option>
              <ion-option value="3">Ciudad del Este Sede III</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label floating>RG</ion-label>
            <ion-input [(ngModel)]="formData.rg" type="text"></ion-input>
          </ion-item>

          <ion-item>
              <ion-label floating>Senha</ion-label>
            <ion-input [(ngModel)]="formData.senha" type="password"></ion-input>
          </ion-item>
        </div>

        <div padding>
          <button ion-button large block color="danger" round (click)="login()">Acessar</button>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
