<!--
  Generated template for the NotasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Notas {{ semestre_nome }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="background-color: #E1E2E1">
  <div>
    <ngx-datatable
      *ngIf="temNotas" #tbl_notas
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="50"
      [scrollbarH]="true"
      [rows]="rows"
      [columns]="cols"
      [columnMode]="'force'"
      [limit]="10">
    </ngx-datatable>
  </div>
</ion-content>
