<!--
  Generated template for the PerfilPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Perfil</ion-title>
  </ion-navbar>

</ion-header>

<ion-content no-margin style="background-color: #E1E2E1">
  <br />
  <img src="https://sistema.hostbrs.com.br/{{ foto }}" class="profile-image"/>

  <!-- >button ion-button block color="primary" icon-left (click)="getImage('picture')">
    <ion-icon name='camera'></ion-icon>
    Câmera
  </button>

  <button ion-button block color="primary" icon-left (click)="getImage('gallery')">
    <ion-icon name='albums'></ion-icon>
    Galeria
  </button -->

  <button ion-button block *ngIf="imageURI" (click)="uploadFile()">Upload</button>

  <ion-card>
    <ion-card-header text-center style="background-color: indianred; color:white;">
        Informações
    </ion-card-header>
    <form>
      <ion-item>
        <ion-label floating><b>Nome</b></ion-label>
        <ion-input type="text" name="nome" value="{{ nome }} {{ sobrenome }}" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating><b>Curso</b></ion-label>
        <ion-input name="curso" value="MEDICINA"readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating><b>Filial</b></ion-label>
        <ion-input name="filial" value="{{ filial }}" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating><b>RG</b></ion-label>
        <ion-input name="rg" value="{{ rg }}" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating><b>Data de Nascimento</b></ion-label>
        <ion-input name="data_nascimento" value="{{ data_nascimento | date: 'dd/MM/yyyy'}}" readonly></ion-input>
      </ion-item>
    </form>
  </ion-card>
</ion-content>
