<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Matrículas Ativas do Aluno</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding style="background-color: #E1E2E1">

  <ion-card *ngFor="let matricula of matriculas" (click)="openSemestres(matricula.id)">
    <ion-card-content no-padding>
      <ion-item>
        <ion-badge item-start>{{ matricula.id }}</ion-badge>
        {{ matricula.nome_curso }}
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
