<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Início - UCP Mobile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="background-color: #E1E2E1">
  <ion-list>
    <ion-list-header>
      Menu Rápido
    </ion-list-header>
    <button ion-item *ngFor="let p of pages; let idx = index" (click)="openPage(p, idx)"
            [class.selected]="idx===currentSelected"
    >
      <ion-icon name="{{ p.icon }}" item-start></ion-icon>
      {{ p.title }}
    </button>
  </ion-list>
</ion-content>
