<!--
  Generated template for the FrequenciaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Frequência {{ semestre_nome }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="background-color: #E1E2E1">

  <ion-list>
    <ion-list-header no-margin>
      DISCIPLINAS DO SEMESTRE
    </ion-list-header>
    <button
      ion-item
      *ngFor="let disciplina of disciplinas; let idx = index"
      (click)="openGraficoFrequencia(disciplina.id, disciplina.nome,idx)"
      [class.selected]="idx===currentSelected"
    >
      {{ disciplina.nome }}
    </button>
  </ion-list>
  
</ion-content>
