<!--
  Generated template for the SemestresPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Semestres letivos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="background-color: #E1E2E1">

  <ion-list>
    <ion-list-header no-margin>
      Semestres Letivos
    </ion-list-header>
    <button
      ion-item
      *ngFor="let semestre of semestres; let idx = index"
      (click)="openOpcoes(semestre.id, semestre.nome, idx)"
      [class.selected]="idx===currentSelected"
    >
      {{ semestre.nome }}
    </button>
  </ion-list>

  <ion-card *ngIf="opcoes">
    <ion-card-header text-center style="background-color: indianred; color:white;">
      {{ semestre_nome }}
    </ion-card-header>
    <ion-card-content no-padding>
      <ion-grid no-margin>
        <ion-row>
          <ion-col col-6>
            <button ion-button block small (click)="openNotas(semestre_id, semestre_nome)">
              <ion-icon name="paper"></ion-icon>
              &nbsp;
              Notas
            </button>
          </ion-col>
          <ion-col col-6>
            <button ion-button small block (click)="openFrequencia(semestre_id, semestre_nome)">
              <ion-icon name="pie"></ion-icon>
              &nbsp;
              Faltas
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>
