<ion-menu id="ucpMenu" [content]="content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list no-lines>
      <ion-item menuClose *ngFor="let p of pages; let idx = index" (click)="openPage(p, idx)"
                [class.selected]="idx===currentSelected"
      >
        <ion-icon name="{{ p.icon }}" item-start></ion-icon>
        {{p.title}}
      </ion-item>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
