<!--
  Generated template for the FaturasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Financeiro</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="background-color: #E1E2E1">
  <ion-list-header no-margin>
    Visualise suas faturas abaixo
  </ion-list-header>

    <ion-card>
      <ion-card-content no-padding>
        <ion-item>
          <ion-label floating>Matricula</ion-label>
          <ion-select [(ngModel)]="matricula_id" (ngModelChange)="getSemestres(matricula_id)">
            <ion-option selected>Selecione uma matrícula...</ion-option>
            <ion-option *ngFor="let matricula of matriculas" value="{{ matricula.id }}">{{ matricula.nome_curso }} {{ matricula.id }}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item *ngIf="matricula_id">
          <ion-label floating>Semestre</ion-label>
          <ion-select [(ngModel)]="semestre_id" (ngModelChange)="openFaturasDetalhes()">
            <ion-option selected>Selecione um semestre...</ion-option>
            <ion-option *ngFor="let semestre of semestres" value="{{ semestre.id }}">{{ semestre.nome }}</ion-option>
          </ion-select>
        </ion-item>
      </ion-card-content>
    </ion-card>

  <ngx-datatable padding-top
    *ngIf="temFatura"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="50"
    [scrollbarH]="true"
    [rows]="rows"
    [columns]="cols"
    [columnMode]="'force'"
    [limit]="100">
  </ngx-datatable>

</ion-content>
