<!--
  Generated template for the AvisosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Avisos Acadêmicos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-margin style="background-color: #E1E2E1">
  <ion-list no-margin>
    <ion-list-header>Avisos Acadêmicos</ion-list-header>
    <button
      ion-item
      *ngFor="let p of avisos; let idx = index"
      [class.selected]="idx===currentSelected"
    >
      <ion-icon name="text" item-start></ion-icon>
      <h3>{{ p.titulo }}</h3>
      <p style="text-align: justify-all">{{ p.descricao }}</p>
      <ion-badge item-end>{{ p.created | date: 'dd/MM/yyyy H:mm' }}</ion-badge>
    </button>
  </ion-list>
</ion-content>
