<!--
  Generated template for the GraficoFrequenciaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Frequência {{ nome_disciplina }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="background-color: #E1E2E1">
  <div id="chartContainer" style="height: 100%; width: 100%; margin-left:auto;margin-right:auto;"></div>
</ion-content>
